<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Donation</title>

    <link rel="icon" type="image/x-icon" href="@{/assets/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Donation</a>
    </div>
    <div class="container" th:if="${#request?.userPrincipal?.name}">
        <a class="navbar-brand" href="/registerDonationArticle">Add a donation</a>
        <a class="navbar-brand" href="/userInvoices">Donation history</a>
        <a class="navbar-brand" href="/userDonations">My donations</a>
        <a class="navbar-brand" href="/logout">Logout</a>
    </div>
    <div class="container" th:unless="${#request?.userPrincipal?.name}">
        <a class="navbar-brand" href="/login">Login</a>
    </div>

</nav>
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Main page</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="mx-auto"  style="width: 1000px;">
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <form th:action="@{/search}" method="get">
                            <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find donation by name"  size="80" >
                            <button type="submit" class="btn btn-info" >Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <tr th:each="post : ${posts.page}">
                <div class="row">
                    <div class="mx-auto"  style="width: 700px;">
                        <div class="card mb-4">
                            <div class="card-body">
                                <td th:text="${post.articleName}" class="card-title h4"></td>
                                <p><td th:text="${post.description}" class="card-text"></td></p>
                                <form th:action="@{/result}" method='POST'  th:object="${amount}" modelAtribute="amount"  placeholder="Donation">
                                    <input type="text" th:field="*{amount}"   size="7" > € </input>
                                    <input type="hidden" th:value="${post.secretKey}" th:name="secretKey" placeholder="string" />
                                    <input type="hidden" th:value="${post.articleName}" th:name="donatorName" placeholder="string" />
                                    <div class="container" th:if="${#request?.userPrincipal?.name}">
                                        <input type="hidden" th:value="${#request.userPrincipal.name}" th:name="donation" placeholder="string" />
                                    </div>
                                    <br>
                                    <br>
                                    <script
                                            src='https://checkout.stripe.com/checkout.js'
                                            class='stripe-button'
                                            th:attr='data-key=${post.getPublicKey()},data-name=${post.articleName}'>
                                    </script>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </tr>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${posts.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!posts.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/?pageNumber=' + ${posts.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${posts.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == posts.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!posts.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/?pageNumber=' + ${posts.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
